/*
 * Style sheet for site
 *
 *
*/


body { 
  font-family: 'Courier New', monospace;
  display: flex;
  margin: 0;
}

header {
  box-sizing: border-box;
}

footer {
  position: fixed;
  bottom: 0;
  width: 50%;
  height: 2.5rem;
  margin-left: 1rem;
}

ul {
  padding: 0;
  list-style-type: none;
}

a:link {
  color: black;
}

a:visited{
  color: black;
}

a:hover{
  background-color: lightgray;
}

h1 {
  text-align: center;
}

.navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.navigation a {
  text-decoration: none;
  padding: 1em;
  display: block;
}

.table_of_contents{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: column wrap;
  justify-content: space-between;
  list-style: none;
  align-items: center;
}

.table_of_contents a{
  text-decoration: none;
  padding: 1em;
  display: block;
}

#title {
  order: 0;
  padding-left: 5em;
}

/*max width needs to be changed depending on what the title contains.
 * At the same time, it should be good enough for most screen ::).*/

@media(max-width: 1000px){
  #title {
    order: 1;
    flex-grow: 1;
    padding-left: 0;
  }
}


.main_body {
  max-width: 90vw;
  margin-left: 1.5vw;
  margin-right: 1.5vw;
}

.fixed{
  top: 0;
  position: fixed;
}

.column {
  flex: 50%;
}

.vline {
  border-left: 6px solid black;
  height: 100%;
  position: absolute;
  left: 50%;
}


